<form method="post"  action="update">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{produto.id}}"/>
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="Nome" name="nome" value="{{produto.nome}}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="Descrição" name="descricao" value="{{produto.descricao}}">
    </div>
    <div class="form-group">
        <input type="number" class="form-control"  placeholder="Preço" name="preco" value="{{produto.preco}}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="Link da Imagem" name="imagem" value="{{produto.imagem}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>