{% if produtos %}
    <ul>
    {% for p in produtos %}
        <li>{{p.id}}-{{ p.nome }} - {{ p.descricao}} - {{ p.preco }} - <img src="{{ p.imagem }}"/></li>
        <button class="button"><a href="/produtos/edit/{{p.id}}">Edit</a></button>

    <button class="button"><a href="/produtos/delete/{{p.id}}">Delete</a></button>
    {% endfor %}
    

    <li><a href="new">Cadastrar</a></li>
    </ul>
{% else %}
    <p>Sem Produtos</p>
    <li><a href="new">Cadastrar</a></li>

{% endif %}

<ul class="sidebar-nav">

    ...

   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %} 
  </ul>